# Auto detect text files and perform LF normalization
* text=auto

# Force LF line endings for text files
*.js text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.gif binary

